[Unit]
Description=Garage Remote Raspi Service
After=network.target

[Service]
ExecStart=python3 /home/pi/garage-remote-raspi/src/main.py
WorkingDirectory=/home/pi/garage-remote-raspi
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
